.container {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 31%,
    rgba(253, 187, 45, 1) 100%
  );
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.div {
  background-color: black;
  opacity: 0.5;
  display: flex;
  width: 80vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.div h3,
h4 {
  color: aliceblue;
  font-weight: bold;
}
.div li {
  list-style: none;
  padding: 5px;
  color: aliceblue;
}
